header{
 background: #000000;
 height:95px;
}

body{
  margin: 0;
  padding: 0;
}


.blog-title{
 color: #FFFFFF;
 text-decoration: none;
}

/* Blog description */
.post-title, h4, h3 a{
 color: ;
 background: #FFFFFF;
 font-size: 22px;

}

.blog-body{
 width: 800px;
 margin: 0 auto;
 border-style: ridge; border-width: 5px; border-color: white;
}


/* Blog contents */
.post-body{
 color: #000000;
 background: #FFFFFF;
 height: 200px;
}
.post-body p{
 font-size: 19px;
 font-color: #000000;
}

/* sign-up/login Navigation */
.nav-right a{
 background: #B22222;
 color:#F5FFFA;
 text-decoration: none;
 float: right;
 padding: 5px;
 border-radius: 5px;
 display: block;
 border-right:solid 5px;
 margin:5px;
}

/*authentication info */
.info{
 color: #DC143C;
 width:250px;
 margin:5px auto;
}


