header{
 background: #000000;
 text-decoration: none;
 height:95px;
}


.blog-title{
 color: #FFFFFF;
}

/* Blog description */
.post-title, h4, h3 a{
 color: #FFFFFF;
 background: #000000;

}

.whole-body{
 width: 800px;
 margin: 0 auto;
}


/* Blog contents */
.post-body{
 color: #FFFFFF;
 background: #000000;

 height: 200px;

}

/* sign-up/login Navigation */
.nav-right a{
 background: #B22222;
 color:#F5FFFA;
 text-decoration: none;
 float: right;
 padding: 5px;
 border-radius: 5px;
 display: block;
 border-right:solid 5px;
 margin:5px;
}

/*authentication info */
.info{
 color: #DC143C;
 width:250px;
 margin:5px auto;
}


