
header {
  background: #D2691E;
  text-decoration: none;
}


.blog-title{
 color: #000000;
}

/* Blog description */
.post-title, h4, h3 a{
 color: #FFFFFF;
 background: #000000;
 border: ;
}


/* Blog contents */
.post-body{
 color: #FFFFFF;
 background: #000000;
}


.nav-right a{
background: #B22222;
 color:#F5FFFA;
 text-decoration: none;
 float: right;
 padding: 15px;
 border-radius: 100px;
 display: block;
 border-right:solid 50px;
}

.info{
color: #DC143C;
}


