{% load static %}

 <link href="{% static 'css/base.css' %}" rel="stylesheet">


<html>
  <header>
    <form ALIGN='center'>
      <a class="blog-title"
         href="{% url 'home' %}">
         <font size = "9">Blog</font><br />
      </a>
    </form>
  </header>


   <div class="nav-right">
      <ul>
       <nav>
        <a href="{% url 'post_new' %}">Post New Blog</a>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign-up</a>
      </nav>
      </ul>
   </div>

<div>
     {% if user.is_authenticated %}
         <p>Hi {{ user.username }}! you are logged in</p>
         <p><a href="{% url 'logout' %}">Log out</a></p>
     {% else %}
         <p class="info">You are not Logged in!.</p>
         <p class="info">Please Log in or Signup!</p>
         {% endif %}
</div>



    {% block content %}
    {% endblock content %}

 </html>


