{% load static %}

 <link href="{% static 'css/base.css' %}" rel="stylesheet">


<html>
  <header>
    <form ALIGN='center'>
      <a class="blog-title"
         href="{% url 'home' %}">
         <font size = "6">Blog</font><br />
      </a>

    </form>
  </header>








   <div class="nav-right">
      <ul>
       <nav>
         <a href="{% url 'post_new' %}">+ New Blog Post</a>
        &nbsp <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">&nbspSign-up</a>
      </nav>
   </div>


     {% if user.is_authenticated %}
         <p>Hi {{ user.username }}! you are logged in</p>
         <p><a href="{% url 'logout' %}">Log out</a></p>
     {% else %}
          <p>You are not Logged in.</p>
            <p>Please Log in or Signup</p>
         {% endif %}




    {% block content %}
    {% endblock content %}
   </body>
 </html>


