{% extends 'base.html' %}

{% block content %}
{% for post in object_list %}
<div class="post-entry">
<h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }} (Industry:{{ post.genre}})</a></h2>
<big/>

  <br>By:{{post.first_name }}
         {{post.last_name}}
Date Posted:{{ post.post_date}}
     <p>{{ post.body }}</p>
<div/>

    <img src="https://images.unsplash.com/photo-1529101091764-c3526daf38fe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=891&q=80" alt="random Picture" width="250" height="350">

   {% endfor %}
</div>
 <body style="background-color:gray;">


{% endblock content %}