{% extends 'base.html' %}

{% block content %}
{% for post in object_list %}

 <body>
 <div class="blog-body">

 <div class=post-title">

    <h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }} </a></h3>
    <h4>(Industry:{{ post.genre}})</h4>
 </div>

 <div class="post-body ">
    By:{{post.first_name }}
    {{post.last_name}}
    <br>Date Posted:{{ post.post_date}}
    <p>{{ post.body }}</p>
 </div>
</div>

   {% endfor %}

  <body style="background-color: #2e2e2e;">
  </body>>

{% endblock content %}