    {% extends 'base.html' %}

    {% block content %}
    {% for post in object_list %}

     <body>

          <div class="blog-body">
          <div class="post-title">
          <h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3></div>
          <div class="blog-genre"> {{ post.genre}}</div>


           <div class="post-body">
               <p>By&nbsp;{{post.first_name }}
                          {{post.last_name}}
                  on&nbsp;{{ post.post_date}}</p>
                       <p>{{ post.body }}</p>
           </div>
           </div>
         <hr>
     </body>



   <!--  <div class="blog-body">
   <div class="post-title">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 a href="{% url 'post_detail' post.pk %}" class="card-title">{{ post.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ post.genre}}</h6>

     <div class="post-body">
               <p>By&nbsp;{{post.first_name }}
                          {{post.last_name}}
                  on&nbsp;{{ post.post_date}}</p>
                       <p>{{ post.body }}</p>
           </div>
           </div>
    </div>
    </div>
    </div>
</body>-->



   {% endfor %}
   {% endblock content %}